html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: green;
}
td {
    color: darkolivegreen
}
button {
    border: 1px solid green;
    border-radius: 5%;
    background-color: lightgray;
    color: green;
    font-weight: bold;
}
input.vacio {
    border: 1px solid black;
}
input.error {
    border: 1px dotted red ;
}
input.ok {
    border: 1px solid green;
}
input.codigo {
    width: 50px;
}
input.fecha {
    width: 110px;
}
input.texto {
    width: 200px
}
input.bloqueado {
    background-color: lightgray;    
}
div.oculto {
    visibility: hidden;
}